* {
    margin: 0;
    padding: 0;
}
html {
    background: var(--blue) ;
    font-size: 10px;
    box-sizing: border-box;
    color: var(--white);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --red: hsl(356, 68%, 59%);
    --blue: #030f26;
    
}.btn {
    color: var(--black);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header */

header {
    background: var(--white);
    text-align: center;
}

#main {
    font-size: 3.5rem;
    color: var(--blue);
    margin: 0;
    padding: 0.5em;
}


/* scoreboard */

#scoreBoard {
    font-size: 4.5rem;        
    border: var(--white) solid 2px;
    border-radius: 7px;
    padding: 1em 1.5em;
    margin-top: 0.5em;
    position: relative;
}

.label {
    font-size: 0.5em;
    display: inline-block;
    background: var(--red);
    padding: 0.1em 0.4em;
}

#user-label {
    position: absolute;
    left: -30px;
    top: 57px;
}
#comp-label {
    position: absolute;
    right: -37px;
    top: 57px;
}

/* Below scoreboard */

.heading {
    padding: 3rem;
}

h1 {
    font-size: clamp(3rem, 90%, 5rem);
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    background: #051739;
}

.hvr-icon-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-grow-rotate .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
    -webkit-transform: scale(1.1) rotate(12deg);
    transform: scale(1.1) rotate(12deg);
}

.btn {
    border: solid var(--white) 0.2rem;
    border-radius: 50%;
    padding: 1rem;
    transform: rotate(90deg) scaleX(-1);
}
